<%-include("includes/head",{title:"404"}) %>

    <body>
        <main>
            <%-include("includes/header") %>
                <div id="main_heading">
                    <h1>Page not found</h1>
        </main>
    </body>

    </html>