<%-include("includes/head",{title:"500"}) %>

    <body>
        <main>
            <%-include("includes/header") %>
                <div id="main_heading">
                    <h1>An intrenal error occured</h1>
        </main>
    </body>

    </html>