<%-include("includes/head",{title:"303"}) %>

    <body>
        <main>
            <%-include("includes/header") %>
                <div id="main_heading">
                    <h1> PAYMENT FAILURE</h1>
        </main>
    </body>

    </html>