#update
{
    padding: 0.5rem 2rem;
    border:0.1rem solid rgb(196, 135, 4);
    color:rgb(196, 135, 4) ;
    background-color: rgb(37 36 36);
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: larger;
    margin-right: 0.4rem;
}



#name,span
{
    color: rgb(196, 135, 4);
}

#pd
{
    list-style: circle;
    margin-left: 3rem;
}

#order_status
{
    padding: 0.5rem 2rem;
    border:0.1rem solid rgb(196, 135, 4);
    color:rgb(196, 135, 4) ;
    background-color: rgb(37 36 36);
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: larger;
    margin-right: 0.4rem;
    margin-top:1rem;
}